// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#imagesTable {
  border: 1px solid $secondary;
  td {
    word-break: break-all;
    text-align: center;
    vertical-align: middle;

    img {
      max-width: 150px;
    }
  }
}